In [7]:
i = 2
print(i)

2

In [9]:
j = "Hello world"
j

'Hello world'

In [10]:
a = input("what is your name?")
a

'Savi'

In [11]:
my_boolean = True
my_boolean

True

In [13]:
type(True)

bool

In [12]:
s = "SaviKashyap"
s = s.upper()
s

'SAVIKASHYAP'

In [23]:
s = "SaviKashyap"
s.lower()
s

'SaviKashyap'

In [16]:
l = ["Eggs", "Jam", "Bread", ("multigrain", 9)]
l[-1][0]

'multigrain'

In [17]:
len(l)

4

In [18]:
len(l[-1])

2

In [19]:
s = "I love Friday"
s[0:len(s)]

'I love Friday'

In [17]:
new_list = ["Bula"]
print(new_list)
new_list.append("This is a string")
print(new_list)
new_list.insert(0,"Hi")
print(new_list)
new_list.pop()
print(new_list)
new_list.pop(0)
print(new_list)

['Bula']
['Bula', 'This is a string']
['Hi', 'Bula', 'This is a string']
['Hi', 'Bula']
['Bula']

In [23]:
Fiji = [0, 9, 3, 6, 12]
Fiji.sort(reverse=True)
Fiji

[12, 9, 6, 3, 0]

In [29]:
Fiji = [0, 9, 3, 6, int("12")]
print(Fiji)
print(sorted(Fiji, reverse=True))

[0, 9, 3, 6, 12]
[12, 9, 6, 3, 0]

In [28]:
z = ["Cat", "Dog", "Pets", "rabbits" ]
print(sorted(z))

['Cat', 'Dog', 'Pets', 'rabbits']

In [42]:
age = input("How old are you?")
age = int(age) + 1
print(f"in a year you will be {age}")

in a year you will be 24

In [44]:
HOURLY_SALARY = 50 

from typing import Final

NEW_HOURLY_SALARY : Final[int] = 60

NEW_HOURLY_SALARY = 61

print(NEW_HOURLY_SALARY)

61

In [1]:
my_tuples = (3)
my_tuples[0] = 2

TypeError: 'int' object does not support item assignment

In [9]:
my_set = {"Apples", "Mangoes", "Cherries"}
another_set = {"Apples", "Peaches", "Bananas"}
union = my_set.union(another_set)
print(union)
intersection = my_set.intersection(another_set)
print(intersection)
only_mine = my_set.difference(another_set)
print (only_mine)
only_another_set = another_set.difference(my_set)
print(only_another_set)
sorted(list(union))

{'Mangoes', 'Bananas', 'Apples', 'Peaches', 'Cherries'}
{'Apples'}
{'Mangoes', 'Cherries'}
{'Peaches', 'Bananas'}

['Apples', 'Bananas', 'Cherries', 'Mangoes', 'Peaches']

In [10]:
my_info = {"name": "Savi", "age": 23}
name = my_info["name"]
age = my_info["age"]
print(name)
print(age)
my_info["age"] = my_info["age"] + 1 
print(my_info["age"])

Savi
23
24

In [12]:
my_dict = {"sister's_name": "Arpita"}
sis = my_dict["sister's_name"]
print(sis)

Arpita

In [13]:
f = open ("text.txt", "r")
print(f.read())

Hello, welcome to Re/Start

In [18]:
f = open ("text.txt", "r")
print(f.readline())
print(f.readline())

Hello, welcome to Re/Start

I hope you're doing well

In [29]:
f = open ("text.txt", "r")
for x in f: 
    print(x.upper())
    print("Everytime")
print("finish")

HELLO, WELCOME TO RE/START!

Everytime
I HOPE YOU'RE DOING WELL.

Everytime
HOW ARE YOU LIKING THE COURSE SO FAR?

Everytime
I AM ENOJOYING IT.

Everytime
FUN FACT: THIS COURSE STARTED ON MY BIRTHDAY

Everytime
finish

In [40]:
favourite_animal = input ("what is your favourite animal?")
if favourite_animal == "dog": 
    print ("You are a dog person")
elif favourite_animal == "cat": 
    print ("Your are a cat person")
else:
    print ("You are an animal hater")

Your are a cat person

In [35]:
4<3

False

In [2]:
favourite_animal = ""
while favourite_animal != "cat" and favourite_animal != "dog": 
    favourite_animal = input("Are you a dog person or a cat person?")
    print (favourite_animal)

cat